[Unit]
Description=Encrypted USB Backup
Wants=backup-usb.timer
ConditionPathExists=/dev/disk/by-uuid/6f57da7c-0823-47ae-b9d3-cd98c1573dac

[Service]
Type=oneshot
User=root
ExecStart=/home/fewill/.local/bin/backup-usb

[Install]
WantedBy=timers.target
